#Announcements {
    scroll-margin-top: 150px
}

.announcements {
    width: 100%;
    max-width: 750px;
    padding: 10px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.announcements-heading {
    font-size: 25px;
    color: #3fc8f1; 
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #d3d3d3;
    padding-bottom: 5px;
}

.announcements-list {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable scrolling */
    border: 1px solid #e3e3e3;
    padding: 10px;
    background-color: #f9f9f9;
}

.announcement-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #e3e3e3;
    font-size: 14px;
}

.announcement-item:last-child {
    border-bottom: none;
}

.new-badge {
    background-color: #2196f3;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: 8px;
    font-weight: bold;
    
}


/* Responsive Design */
@media (max-width: 480px) {
    .announcements {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .announcements-heading {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .announcements-list {
        max-height: 150px; /* Reduce height on small screens */
        padding: 8px;
    }

    .announcement-item {
        font-size: 14px;
        padding: 10px 0; /* Increase touch area */
    }

    .new-badge {
        font-size: 11px;
        padding: 3px 8px;
    }
}


