
#MOU {
    margin: 20px 60px;
    scroll-margin-top: 150px;
}

.heading {
    text-align: center;
    color: #3fc8f1; 
    font-size: 2.5rem;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5vh;
}

.table-container {
    padding: 0 2vw;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 10vh;
}

.mou-table {
    width: 100%;
    max-width: 1000px; 
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.mou-table th {
    padding: 1rem;
    text-align: center;
    background-color: #3fc8f1;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
}

.mou-table td {
    padding: 1rem;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.mou-table tbody tr:nth-child(even) td {
    background-color: #e9f7fc; 
}

.mou-table tbody tr:hover td {
    background-color: #c1e9f6; 
}

@media (max-width: 768px) {
    #MOU {
        margin: 20px 10px;
    }

    .mou-table {
        font-size: 14px;
    }

    .mou-table th,
    .mou-table td {
        padding: 6px;
    }
}
